.App {
  font-family: 'Raleway', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #666666;
  font-size: 2em;
  padding: 1em;
  height: 3em;
  position: sticky;
  z-index: 99999;
  top: 0px;
}
.footer {
  color: white;
  background-color: #666666;
  font-size: 1em;
  text-align: right;
  padding: .5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.movies-btn:hover {
  transform: scale(1.1);
  color: white;
}
.movies-btn:visited {
  color: white;
}
.main-home img {
  width: 100%
}
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 22em;
  margin: 2em;
}
.card img {
  height: 30em;
}
.card-title {
  font-weight: bold;
  font-size: 16px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
.edit-form-container {
  width: 30em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}
.movie-list-container {
  margin: 2em;
}
.add-movie-btn {
  margin-bottom: 2em;
}
.movie-list {
  margin-top: .5em;
}
.form-btn {
  width: 7em;
  margin-left: .5em;
  margin-right: .5em;
}

